{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block body_block %}
<p>Please enter your email address to receive reset instructions.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }}</p><input type="submit" class="button" value="Reset password" />
</form>
{% endblock %}