{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block body_block %}
    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
        	 <div class="formGroup">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1" placeholder="New Password"></label>
                    {{ form.new_password1 }}
                    <br/>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2" placeholder="Confirm Password"></label>
                    {{ form.new_password2 }}
                    <br/><br/>
                <input type="submit" class="button" value="Change my password" />
            </div>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    <script>
    $('#id_new_password1').attr("placeholder","New Password");
    $('#id_new_password2').attr("placeholder","Confirm Password");
    $('#id_new_password2').css("margin-top","10px");
    </script>
{% endblock %}