body {
	font-family: Arial, sans-serif;
	color:#000000;
	margin: : 0px;
	overflow: hidden;
}

.page {
	margin-left: 50px;
	margin-right: 50px;
}


label {
	display: block;
	margin-bottom: 5px;
	color: #000000;
}

input {
	width: 200px;
}

.formGroup {
	margin: 20px 0px 20px;
}

.addCourseForm {
	margin-bottom: 3px;
}

.sectionHeader {
	color: #003262;
	margin-bottom: 4px;
}

.formLabel {
	color: #000000;
}

.buttonLink {
	background: none;
    border: none; 
    padding: 0px;
    width: 100px;
}

ul {
	list-style-type:none;
	/*padding: 0px;*/
	margin-top: 1px;
	margin-bottom: 1px;
} 
li.courseCompleted {
	color: #C0C0C0;
	background-image: url();
}
.course {
	/*color: #000000;*/
}
.courseNormal {
	/*color: #000000;*/
}
.courseUsed {
	color: #C0C0C0;
}
.courseRequired {
	color: #FF0000;

}
.courseMaybe {
	color: #FDB515;
}


.button {
	background: #FDB515;
	width: auto;
	min-width: 100px;
	height: 30px;
	border-radius: 5px;
}


.reqTitle {
	margin-top: 1px;
	margin-bottom: 1px;

}

.reqDescription {
	margin-top: 1px;
	margin-bottom: 1px;
}


.fontDefault {

}


ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

header {
	height: 100px;
	padding: 0px;
	text-align: left;
	position: relative;
	background-color: #003262;
	width: 100%;
	margin: 0px;
	display: block;
}


.container{
	float: left;
	height: 100%;
	width: 48%;
	overflow:scroll;
	padding: 1%;
}

