/* Base styling to be used across all pages */
body, input, button, select, option, textarea {
	font-family: Arial, sans-serif;
}

body {
	/* font-family: Arial, sans-serif; */
	color: #000000;
	margin: 0px;
	/*background-image: url('lined_paper.png'); /* subtlepatterns.com */
	background-repeat: repeat;
}

input, button, select, option, textarea {
	font-size: 100%;
}

header {
	height: 50px;
	padding: 0px;
	text-align: left;
	position: relative;
	background-color: #003262;
	width: 100%;
	margin: 0px;
	display: block;
}

/* Wrap around header and body to prevent layout changing when browser resizes */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

/* Header bar elements */
.logoHead {
	background: url('thinkAheadLogo.png') left no-repeat;
	background-size: auto 50px;
	display: inline-block;
	height: 50px;
	width: 300px;
	margin-left: 25px;
}
.userBar {
    float: right;
    padding: 10px 25px;
    color: white;
    position: relative;
}
.userBar a {
    color: white;
    text-decoration: none;
}
.userBar a:hover {
    color: #999999;
    cursor: hand;
    text-decoration:underline;
}
.userBar form {
	display: inline;
	margin-left: 15px;
}
.userIcon {
	background: url('user_icon.png') right no-repeat;
	background-size: 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -5px;
}

/* DIV wrapper for page contents */
.page {
	padding-left: 50px;
	padding-right: 50px;
}


.activeButton {
	width: auto;
	min-width: 100px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background: #00B0DA;
      color: white;
	cursor: pointer; 
}

.button {
	background: #FDB515;
	width: auto;
	min-width: 100px;
	height: 30px;
	border-radius: 5px;
	border: none;
}

.button:hover {
	background: #999999;
	cursor: pointer; 
}

/* Headers for page sections */
.sectionHeader {
	color: #003262;
	margin-bottom: 4px;
}

/* Labels for forms so that input field is below label */
.formLabel {
	display: block;
	margin-bottom: 5px;
	color: #000000;
}

/* Grouping related form fields together horizontally */
.formGroup {
	margin: 20px 0px 20px;
}


/* Only used in dash.html currently but may be used elsewhere depending on page layout?? */
.container {
	float: left;
	height: 100%;
	width: 48%;
	overflow-y: scroll;
	padding: 1%;
}




/* Styling specific to splash.html */
.lightbulb{
	background:url(lightbulb_bg.png);
	background-repeat:no-repeat;
	background-position: center;
	position: relative;
	z-index:1;
	background-size: 513px;
}


.login{
	position: absolute;
	width:513px;
	height:293px;
	/*background:#f7f7f7;*/
	top: 92px;
	left: 0px;
	z-index: 2;
	text-align: center;
}


#shift{
	margin: 50px auto;
	width: 513px;
	height: 697px;
}

img.resize{
	width: 400px;
	height: auto;
}



/* Styling specific to registration.html */

/* Input field for adding courses */
.addCourseForm {
	margin-bottom: 3px;
}

/* Button styled as a link */
.buttonLink {
	background: none;
    border: none; 
    padding: 0px;
    width: auto;
}
.buttonLink:hover {
	color: #999999;
	cursor: pointer; 
}


/* Styling specific to dash.html */

/* Get rid of main scroll bar so that sections can scroll independently */
body.noScroll {
	overflow: hidden;
}

.planner td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.planner ul {
	padding-left: 10px;
	padding-right: 10px;
}
.semesterLabel {
	padding-left: 5px;
}
.semesterCourseList {
	border: 2px solid;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	min-height: 100px;
	width: 150px;
	word-wrap: break-word;
	overflow: hidden;
	overflow-y: auto;
}

.reqTitle {
	margin-top: 1px;
	margin-bottom: 1px;
}

.reqDescription {
	margin-top: 1px;
	margin-bottom: 1px;
}

ul {
	list-style-type: none;
	/*padding: 0px;*/
	margin-top: 1px;
	margin-bottom: 1px;
}
li.course {
	margin-left: 20px;
    margin-bottom:2px;
    /*float:left;*/
	background-color:#003262;
    border-color: #FDB515;
	border-style:solid;
	border-width:2px;
	border-radius: 5px;
    color: white;
    cursor: move;
    padding:3px;
    max-width:115px;
}
.coursePreview {
	background-color: #D7D7D8;
	border-style: solid;
	border-width: 1px;
	border-color: #A7A7A8;
	border-radius: 5px;
	min-height: 20px;
	cursor: move;
}

li.courseCompleted {
	color: #C0C0C0;
	background: url('thinkAheadCheck.png') left no-repeat;
	background-size: 16px;
	padding-left:20px;
}
.courseUsed {
	color: #C0C0C0;
}
.courseRequired {
	color: #FF0000;
}
.courseMaybe {
	color: #FDB515;
}
.sortableList {
	min-height: 20px;
}

.sortableList {
	min-height: 20px;
}
.plannerMinHeight {
	min-height: 100px;
}

.reqCoursesWrapper {

}


input {
	width: 200px;
}
.ui-autocomplete {
	max-height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
}


ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    max-width:200px;
    background-color: #003262;
    color: white;
    display: inline;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 3px 15px;
    border: 2px solid #FDB515;
    border-radius: 25px;
    font-family: arial;
}

/*For Collapseable Icons*/
.plus {
	background: url('plus.png') left no-repeat;
	background-size: 16px;
	padding-left:20px;
	cursor: hand;
}

.plus:hover {
	cursor: hand;
	background: url('plusLight.png') left no-repeat;
	background-size: 16px;
	padding-left:20px
}

.minus {
	background: url('minus.png') left no-repeat;
	background-size: 16px;
	padding-left:20px;
	cursor: hand;

}

.minus:hover {
	background: url('minusLight.png') left no-repeat;
	background-size: 16px;
	padding-left:20px;
	cursor: hand;
}

#simplemodal-container {
     background-color: #00B0DA;
     border-color: #003262;
     color:white;
	border: 2px solid;
	border-radius: 5px;
     padding: 5px;
     max-width:300px;
}
#simplemodal-container a.modalCloseImg {
	background:url('x.png') no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}
<!--[if lt IE 7]>
<style type='text/css'>
	#simplemodal-container a.modalCloseImg {
		background:none;
		right:-14px;
		width:22px;
		height:26px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='img/x.png', sizingMethod='scale'
		);
	}
</style>
<![endif]-->
