<html>

<head>
	<title>Think Ahead</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>


<body class="noScroll">
	
	<header>

	</header>

	<div class = "container">	
	</div>

	<div class = "container">
		{% if requirements %}

			{% for r in requirements %}
				<h3 class="reqTitle">{{ r.reqName }}</h3>
				<p class="reqDescription">Description: {{ r.reqDescription }} </p>
				<p>Requirement Completed: {{ r.reqCompleted }}</p>

				<ul>
					Courses Completed
					{% if r.courseDone %}
						{% for course in r.courseDone %}
							<li class=courseCompleted>{{ course }}</li>
						{% endfor %}
					{% else %}
						<li> No courses completion displayed. </li>
					{% endif %}
				</ul>
				<br>
				<ul>
					Courses Left
					{% if r.courseLeft %}
						{% for left in r.courseLeft %}
							<li>{{ left }}</li>
						{% endfor %}
					{% else %}
						<li> No courses left to display. </li>
					{% endif %}
				</ul>
						
			{% endfor %}
		{% else %}
			<p> No requirements were given.</p>
		{% endif %}
	</div>
</body>


</html>