<html>

<head>
	<title>Think Ahead</title>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "jquery-1.11.0.min.js" %}"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{% static "dashClient.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body class="noScroll">
	<div class="wrapper">

		<header>
	        <a href="/home/">
	        	<div class="logoHead"></div>
	        </a>
	        <div class="userBar">
	           <form action="/profile">
	               <input class="button" type="submit" name="profile" value="Profile">
	           </form>
	           <form action="/dashboard">
	               <input class="activeButton" type="submit" name="dashboard" value="Dashboard">
	           </form>	           
	            <form action="/logout">
	                <input class="button" type="submit" name="logout" value="Logout">
	            </form>
	        </div>
		</header>
	     <script> {% if update %} $.modal("<div>Your profile has been updated.</div>"); $("#simplemodal-container").css('border-color','#003262');{%endif%}</script>
           <script> $(document).ready(function(){if (document.referrer.contains("registration")){ $.modal("<div>To get started, you can expand one of your remaining requirements from the right, and drag classes to fill your planner on the left!</div>"); $("#simplemodal-container").css('border-color','#003262');}}); </script>
	</div>		

		<div class="container">
	            <b>Total Unit Count: {{ unitsPlanner }} 
	            {% if unitsCompleted %}
	                <small><i>({{unitsCompleted}} units already completed.)</i></small>
	            {% endif %}
	            </b> 

		      <input id="savePlanners" class="button" type="submit" value="Save Planner" onClick="savePlanners()">         
		      
		      <br><br><br>

		      <div> 
			<input id="addPlannerCourse" type="text">  
			<input class="button" type="submit" value="Add Class" onClick="newCourseItem()"> 
		      </div> 
		      <ul id="newCourseUL"> </ul>

			<table class="planner centered">
				<tr>
					{% for planner in planners %}
						<td>
								<div class="semesterLabel"> 
									{{ planner.0 }}
								</div>
								<div class="semesterCourseList">
								<ul id="planner{{ forloop.counter }}" class="sortableList plannerMinHeight">
									{% for course in planner.1 %}
										<li class="course">{{ course }}</li>
									{% endfor %}
								</ul>
								</div>
	                                    <small>Unit count: {{planner.2}}</small>
						</td>

						{% if not forloop.last and forloop.counter|divisibleby:"3" %}
				</tr>
				<tr>
						{% endif %}
					{% endfor %}
				</tr>
			</table>
		</div>  


	<div class="container">
		{% if requirements %}
		<ul class="reqsList">

			{% for r in requirements %}
				{% if r.reqCompleted %}
				<li class="req reqComplete">
					<h3 class="reqTitle plus">{{ r.reqName }} (Completed)</h3>
				{% else %}
					<li class="req">
					<h3 class="reqTitle plus">{{ r.reqName }}</h3>
				{% endif %}
				<p class="reqDescription">Description: {{ r.reqDescription }} </p>

				<div class="reqCoursesWrapper">
					<ul>
						{% if r.courseDone %}
							{% for course in r.courseDone %}
								<li class="courseCompleted">{{ course }}</li>
							{% endfor %}
                                  <br/>
						{% endif %}
					</ul>
					<ul id="req{{ forloop.counter }}" class="sortableList courseMaxHeight">
						{% if r.courseLeft %}
							{% for left in r.courseLeft %}
								<li class="course">{{ left }}</li>
							{% endfor %}
						{% endif %}
					</ul>
					<br>
				</div>
			</li>
						
			{% endfor %}
		</ul>

		{% else %}
			<p> No requirements were given.</p>
		{% endif %}
	</div>


</body>


<script>
var numPlanners = {{ planners|length }};
var numReqs = {{ requirements|length }};
</script>


</html>
