<html>

<head>
	<title>Think Ahead</title>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "jquery-1.11.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "regClient.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body class="noScroll">
	
	<header>
        <a href="/home/">
        	<div class="logoHead"></div>
        </a>
        <div class="userBar">
            Hello,
            <a href="/profile">
            	<div class="userIcon"></div>
            	{{ user.username }}</a>.
            <form action="/logout">
                <input class="button" type="submit" name="logout" value="Logout">
            </form>
        </div>
	</header>
	
	<div class="container">
	
	  {% comment %}
	  Tentative way of adding and removing courses to Planner
	  {% endcomment %}
	  <form action="" method="post">
		{% if "index" in errors %}
            <ul class="errorlist"><li>
        		{{ errors.index }}
            </ul></li>
		{% endif %}
	    Semester Number: <input id="semester" type="text" name="index">
	    <br />
		{% if "name" in errors %}
            <ul class="errorlist"><li>
        		{{ errors.name }}
            </ul></li>
		{% endif %}
	    Course Name: <input id="coursename" type="text" name="course">
	    <br />
		{% if "change" in errors %}
            <ul class="errorlist"><li>
        		{{ errors.change }}
            </ul></li>
		{% endif %}
	    <input type="radio" name="change" value="add">Add <br>
	    <input type="radio" name="change" value="remove">Remove <br>
	    <input id="" type="submit" value="Update Planner" name="update">

	  </form>
	  

	  {% for planner in planners %}
	  <h3>Semester {{forloop.counter}}<h3>
	      {% for course in planner %}
	      <ul>
		<li> {{course}} </li>
	      </ul>
	      {% endfor %}

	  {% endfor %}
		
	</div>  



	<div class="container">
		{% if requirements %}

			{% for r in requirements %}
				{% if r.reqCompleted %}
					<h3 class="reqTitle">{{ r.reqName }} (Completed)</h3>
				{% else %}
					<h3 class="reqTitle">{{ r.reqName }}</h3>
				{% endif %}
				<p class="reqDescription">Description: {{ r.reqDescription }} </p>

				<ul>
					{% if r.courseDone %}
						{% for course in r.courseDone %}
							<li class="courseCompleted">{{ course }}</li>
						{% endfor %}
					{% endif %}
					{% if r.courseLeft %}
						{% for left in r.courseLeft %}
							<li>{{ left }}</li>
						{% endfor %}
					{% endif %}
				</ul>
				<br>
					
			{% endfor %}
		
		{% else %}
			<p> No requirements were given.</p>
		{% endif %}
	</div>
</body>


</html>
