<html>
<head>
	<title>Think Ahead</title>
	
	{% load staticfiles %}	
	<script type="text/javascript" src="{% static "jquery-1.11.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "regClient.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>

<header><a href="/home/"><img src="{% static "logoTmp.png" %}" style="float:left; padding-left:25px;" height=50px></a>
        <div class="user_bar">
            {%if "profile" in request.path %}
                Hello, <a href="/profile"><img src="{% static "user_icon.png" %}" width=16px height=16px style="margin-top:-5px;">{{user.username}}.</a>
            {%endif %}
            <form action="/logout" style="display:inline;margin: 0; padding: 0">
                <input class="button" type="submit" name="logout" value="Logout" style="margin-left:15px;">
            </form>
        </div>
</header>

<div class="page">
<h1 class="sectionHeader">Registration Title (NAME PENDING)</h1>
<p>Welcome {{user.username}} ! Please complete the registration. (NEW CSS CLASS?)</p>



<form action="" method="post">
	{% csrf_token %}
	<!-- Expecting EmailForm() as form0 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Email</span>
		</label>
            {% if "email" in errors %}
            	{{ errors.email }}
            {% endif %}
		{{ form0.email }}
	</div>
	
	<!-- Expecting GradForm() as form1 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Intended graduation date</span>
		</label>
		{{ form1.semester }}
		{{ form1.year }}
	</div>

	<!-- Expecting MajorForm() as form2 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Major</span>
		</label>
            {% if "major" in errors %}
            	{{ errors.major }}
            {% endif %}
		{{ form2.college }}
		{{ form2.major }}
	</div>

	<!-- Expecting CourseForm() as form3 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Successfully completed courses<br/><small><i>i.e cs 160, econ 100a</i></small></span>
		</label>
		{{ form3.management_form }}
		{% for form in form3.forms %}

		<div class='addCourseForm'>
			{{ form.name }}
			<input id="deleteForm" class="buttonLink" type="button" value="Delete" >
		</div>
		{% endfor %}

		<input id="addForm" class="buttonLink" type="button" value="+ Add Course" >
	</div>
            {%if "profile" in request.path %}  
            <input id="createUser" class="button" type="submit" value="Update Profile">
            {% else %}
            <input id="createUser" class="button" type="submit" value="Complete Registration">
            {%endif %}
</form>

</div>

</body>


<script type="text/javascript">

// Dictionary of {college: [majors]} passed from Django views.py
var majorDict = jQuery.parseJSON('{{ majorDict|safe }}');
// Dictionary of colleges to populate MajorForm.college dropdown
var colleges = {};
// Dictionary of majors dictionaries to popular MajorForm.major dropdown
var majorsAll = {};

// For profile editting, pass in user's college and major and unescape for HTML
var userCollege = '{{ userCollege }}';
var userMajor = '{{ userMajor }}';

if (userCollege != '' && userMajor != '') {
	var divCollege = document.createElement('div');
	divCollege.innerHTML = userCollege;
	var selectCollege = divCollege.firstChild.nodeValue;
	var divMajor = document.createElement('div');
	divMajor.innerHTML = userMajor;
	var selectMajor = divMajor.firstChild.nodeValue;
}

getDropdownOptions();

</script>
</html>
