<html>
<head>
	<title>Think Ahead</title>
	
	{% load staticfiles %}	
	<script type="text/javascript" src="{% static "jquery-1.11.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "regClient.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>

<header>
	<a href="/home/">
		<div class="logoHead"></div>
	</a>
    <div class="userBar">
        {% if "profile" in request.path %}
            Hello,
            <a href="/profile">
        		<div class="userIcon"></div>
            	{{ user.username }}</a>.
        {% endif %}
        <form action="/logout">
            <input class="button" type="submit" name="logout" value="Logout">
        </form>
    </div>
</header>

<div class="page">
<h1 class="sectionHeader">
    {% if "profile" in request.path %} 
    Profile
    {% else %}
    Registration
    {% endif %}
</h1>
<p>
    {% if "profile" in request.path %} 
    You can update your profile information below.
    {% else %}
    Welcome {{ user.username }}! Please complete the registration.
    {% endif %}
</p>



<form action="" method="post">
	{% csrf_token %}
	<!-- Expecting EmailForm() as form0 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Email</span>
		</label>
            {% if "email" in errors %}
            	{{ errors.email }}
            {% endif %}
		{{ form0.email }}
	</div>
	
	<!-- Expecting GradForm() as form1 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Intended graduation date</span>
		</label>
		{{ form1.semester }}
		{{ form1.year }}
	</div>

	<!-- Expecting MajorForm() as form2 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>Major</span>
		</label>
            {% if "major" in errors %}
            	{{ errors.major }}
            {% endif %}
		{{ form2.college }}
		{{ form2.major }}
	</div>

	<!-- Expecting CourseForm() as form3 -->
	<div class="formGroup">
		<label class="formLabel">
			<span>
				Successfully completed courses
				<br/>
				<small><i>i.e cs 160, econ 100a</i></small>
			</span>
		</label>
		{{ form3.management_form }}
		{% for form in form3.forms %}

		<div class='addCourseForm'>
			{{ form.name }}
			<input id="deleteForm" class="buttonLink" type="button" value="Delete" >
		</div>
		{% endfor %}

		<input id="addForm" class="buttonLink" type="button" value="+ Add Course" >
	</div>

    {% if "profile" in request.path %}  
    	<input id="createUser" class="button" type="submit" value="Update Profile">
    {% else %}
    	<input id="createUser" class="button" type="submit" value="Complete Registration">
    {% endif %}
</form>

</div>

</body>


<script type="text/javascript">

// Dictionary of {college: [majors]} passed from Django views.py
var majorDict = jQuery.parseJSON('{{ majorDict|safe }}');
// Dictionary of colleges to populate MajorForm.college dropdown
var colleges = {};
// Dictionary of majors dictionaries to popular MajorForm.major dropdown
var majorsAll = {};

// For profile editting, pass in user's college and major and unescape for HTML
var userCollege = '{{ userCollege }}';
var userMajor = '{{ userMajor }}';

if (userCollege != '' && userMajor != '') {
	var divCollege = document.createElement('div');
	divCollege.innerHTML = userCollege;
	var selectCollege = divCollege.firstChild.nodeValue;
	var divMajor = document.createElement('div');
	divMajor.innerHTML = userMajor;
	var selectMajor = divMajor.firstChild.nodeValue;
}

getDropdownOptions();

</script>
</html>
