<html>

<head>
	<title>Think Ahead</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

</head>

<body>


<h1 class="sectionHeader">Welcome to</h1>
<h1>TODO: IMAGE OF LOGO</h1>

<form action="" method="post">{% csrf_token %}
	<table>
	{% if errors %}
		<tr>
			<span style="color: red; background-color: red;color: white; display: block;font-size: 10px; margin: 0 0 3px; padding: 4px 5px;">{{errors}}</span><br/>
		</tr>
	{% endif %}
		{{ form.as_table }}
	</table>
	<input formaction="/login/" class="button" type="submit" name="login" value="Login">
	<input formaction="/registration/" class="button" type="submit" name="add" value="Create User">

</form>


</body>
</html>