<html>

<head>
	<title>Think Ahead</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

</head>

<body>


<h1 class="sectionHeader">Welcome to</h1>
<h1>TODO: IMAGE OF LOGO</h1>

<form action="" method="post">{% csrf_token %}
	<table>
	{% if errors %}
		<tr>
			<span style="color: red;">{{errors}}</span><br/>
		</tr>
	{% endif %}
		{{ form.as_table }}
	</table>
	<input formaction="/login/" class="button" type="submit" name="login" value="Login">
	<input formaction="/register/" class="button" type="submit" name="add" value="Registration">

</form>


</body>
</html>