<html>

<head>
	<title>Think Ahead</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

</head>

<body>

<div class="page">

<h1 class="sectionHeader">Welcome to</h1>
<h1>TODO: IMAGE OF LOGO</h1>

<form action="" method="post">{% csrf_token %}
	<div class="formGroup">
		<label><span>Sign-in or register</span></label>
		{{ form.username }}
		<label></label>
		{{ form.password }}

		{% if errors %}
		<label></label>
		<span style="color: red;">{{ errors }}</span>
		{% endif %}
	</div>
	
	<input formaction="/login/" class="button" type="submit" name="login" value="Login">
	<input formaction="/register/" class="button" type="submit" name="add" value="Registration">

</form>

</div>

</body>
</html>